.App {
  justify-content: center;
  height: 100%;
  font-family: 'DarkerGrotesque-Medium';
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #fffff5;
}

.header {
  text-align: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
  box-orient: horizontal;
  display: flex;
  flex-wrap: wrap;
}

.container {
  display: flex;
  margin-left: 20px;
}

@font-face {
  font-family: 'DarkerGrotesque-Medium';
  src: local('DarkerGrotesque-Medium'),
    url(./fonts/DarkerGrotesque-Medium.ttf) format('truetype');
}
